.clear {
    clear: both;
}

.center, .centre {
    text-align: center;
    margin: 0 auto;
}

.form form input[type="text"], .form form input[type="password"], .form form select, .form form textarea {
    width: auto;
}

.breadcrumbs {
    margin: 0 1em 1em 1em;
}

.no-nesting.row {
    margin: 0;
}

.alert-error {
    color: #FF5555;
}

header h1 {
    font-size: x-large;
}

header nav .inline-list > li {
    margin: 0;
    border-right: 1px solid #ABCDEF;
}

header nav .inline-list > li:last-child {
    border: none;
}

header nav .inline-list, header nav .inline-list li a {
    margin: 0;
}

.original-price{
    text-decoration: line-through;
}

.product-block img{
    width: 12em;
    height: 18em;
    display: block;
    margin: 0 auto;
}

.product-block{
    width: 13em;
    border: 1px solid #F6F6F6;
    margin: 1em;
    text-align: center;
    padding-bottom: 0.5em;
    display: inline-block;

}