.header, footer, .left-sidebar, .breadcrumbs, .breadcrumb, a.button, input[type="submit"], #alert_placeholder {
    display: none !important;
}

.main-content {
    border: none;
}

th.only-on-print, td.only-on-print {
    display: table-cell !important;
}

input {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
    display: inline !important;
}

select {
    border: none;
    background: none;
    -webkit-appearance: none;
}

a.select2-choice {
    border: none !important;
    background: none !important;
}

table{
    width: 100% !important;
    max-width: 100% !important;
}