{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

    <div class="row form">
        <h2 class="intro">Login</h2>

        {% if form.errors %}
            <p class="alert alert-error">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}"
              id="user_login_new">{% csrf_token %}
            {% if state %}
                {{ state }}
            {% endif %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <div class="required">
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" value="{{ username }}" required/>
            </div>

            <div class="required">
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" value="{{ username }}" required/>
            </div>

            <div class="row">
                <input class="column large-1 left" type="checkbox" id="remember_me" name="remember_me" value="true"/>
                <label class="column large-15 left" for="remember_me">Remember Me</label>

            </div>

            <div>
                <input type="submit" value="Log In" class="btn"/>

            </div>
        </form>


    </div>
{% endblock %}