<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width"/>

    <title>{% block title %}{% endblock %}</title>




    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">

    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>

    {% block extra_head %}{% endblock %}

</head>
<body>

<!-- Nav Bar -->

<header class="row">
    <div class="large-16 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="small secondary button">Link 1</a></li>
                <li><a href="#" class="small secondary button">Link 2</a></li>
                <li><a href="#" class="small secondary button">Link 3</a></li>
                {% if user.is_admin %}
                    <li><a href="/admin" class="small secondary button">Admin Panel</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="small secondary button">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="small secondary button">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <h1>App Title
            <small>Slogan</small>
        </h1>
        <hr/>
    </div>
</header>

<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

    <!-- Sidebar -->
    <aside class="large-4 columns">

        <h5>Categories</h5>
        <ul class="side-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Weasels</a></li>
        </ul>

        <div class="panel">
            <h5>Featured</h5>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More &rarr;</a>
        </div>

    </aside>
    <!-- End Sidebar -->

    <div class="large-12 columns" role="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- End Main Content -->
</div>
<!-- End Main Content and Sidebar -->

<footer class="row">
    <div class="large-16 columns">
        <hr/>
        <div class="row">
            <div class="large-8 columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-8 columns">
                <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).foundation();
</script>

<!-- End Footer -->
</body>
</html>
