<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>{{ data.title }} | EkPasal.com</title>

    {% load custom %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">

    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>


    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/sammy-latest.min.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/store.js"></script>

    <script>
        ko_data =
        {{ data|jsonify }}
    </script>

    {% block extrahead %}{% endblock %}

</head>
<body>


<!-- Nav Bar -->

<header class="row">

    <h1 class="large-3 column">EkPasal</h1>

    <nav class="nav-bar large-9 column">
        <ul class="inline-list right">
            <li><a href="#" class="small secondary button">Link 1</a></li>
            <li><a href="#" class="small secondary button">Link 2</a></li>
            <li><a href="#" class="small secondary button">Link 3</a></li>
        </ul>
    </nav>

</header>


<!-- End Nav -->

<nav class="breadcrumbs">
    {% block breadcrumbs %}
        <a href="/">Home</a>

        <!-- ko foreach: $root.categories -->
        <a data-bind="attr: {'href':'/category/'+slug}, text: name"></a>
        <!-- /ko -->

        <!-- ko if: type()=='product' -->
        <span data-bind="text: product().name"></span>
        <!-- /ko -->
    {% endblock %}
</nav>


<!-- Main Page Content and Sidebar -->
<div class="row">

    <!-- Sidebar -->
    <aside class="large-3 column">

        <h5>Categories</h5>
        <ul class="side-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Weasels</a></li>
        </ul>

        <div class="panel">
            <h5>Featured</h5>

            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon
                nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More &rarr;</a>
        </div>

    </aside>
    <!-- End Sidebar -->

    <div class="large-9 column" role="content">
        {% block content %}
            <div id="grid" data-bind="if: type()=='category'">
                <!-- ko foreach: products -->

                <div class="product-block">
                    <a data-bind="attr: {'href': '/' + slug, 'title': description_text()}">
                        <img data-bind="attr: {'src': images[0]}"/>
                        <span data-bind="text: name"></span> | <span data-bind="text: 'NPR'"></span> <span
                            data-bind="text: price"></span>
                    </a>

                </div>
                <!-- /ko -->
            </div>
            {#            {{ data }}#}
            <div id="product-detail" data-bind="flash: true, if: $root.type()=='product'">
                <!--ko flash: true-->
                <div data-bind="with: product">
                    <h1 data-bind="text: name">{{ data.product.name }}</h1>
                    <img data-bind="attr: {'src': images[0]}" src="{{ data.product.images.0 }}"/>


                    <div class="product-info">
                        <div>
                            Price :
                            <!-- ko if original_price -->
                            <span data-bind="text: 'NPR'"></span>
                            <span class="original-price"
                                  data-bind="text: original_price">{{ data.product.original_price }}</span>
                            <!-- /ko -->
                            <span data-bind="text: price">{{ data.product.price }}</span>
                        </div>
                        <div>Availability: <span
                                data-bind="text: get_availability()">{{ data.product.get_availability }}</span>
                        </div>

                        <a data-bind="attr: {'href': purchase_url}" target="_blank" class="button"
                           href="{{ data.product.purchase_url }}">View/Purchase
                            from <span data-bind="text: store">{{ data.product.store }}</span></a>

                    </div>


                    <div data-bind="visible: description_text()!=''">
                        <h3>Description:</h3>

                        <div class="description" data-bind="text: description_text()">
                            {{ data.product.description|safe }}
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        {% endblock %}
    </div>
    <!-- End Main Content -->
</div>
<!-- End Main Content and Sidebar -->

<footer class="center row">
    <hr>
    <p>&copy; Copyright no one at all. Go to town.</p>
</footer>

<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<!-- End Footer -->
</body>
</html>
