{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url "list_categories" %}">Categories</a>
{% endblock %}

{% block content %}

    {% load mptt_tags %}
    <ul>
        {% recursetree categories %}
            <li>
                {#                <a href="{% url 'update_inventory_category' node.id %}">#}
                <a href="{% url 'view_category' node.slug%}">{{ node.name }}</a>
                {#                </a>#}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

{% endblock %}